/*
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
*/


/* Farbschema im Dark Mode */
@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
    }

   }



/* Für alle Bildschirmbreiten*/
.header {
    padding: 1em;
    /* border-bottom: 1px solid var(--yellow-4); */
}
html {
    background-color: powderblue; 
}
h1,h2 {
    max-width: 650px;
    margin: auto;
    color: #cccccc;
}
p {
    color: white;
}
main {
    width: 80vw;
    max-width: 1200px;
    margin: 1em auto;
}



/* Ab minimaler Bildschirmbreite */
@media (min-width:780px) {
    #smallscreen {
        display: none;
    }
    #spiel {
        display: block;
    }

    /* Anzeige über Spielfeld*/
    #anzeige_oben {
        display: flex;
    }
    #nochmalspielen {
        margin-right: 8px;;
    }

    /* Startseite */
    .addspieler {
        margin-bottom: 5px;
    }
    #addspieler1 {
        margin-top: 5px;
    }
    #spielerauswahl {
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center;
        justify-content: center;
    }

    /* Sektion mit Spielfeld und Würfelfeld */
    #game_area {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    /* Spielbrett */
    #board {
        width: 75%;
        display: grid; 
        grid-template-columns: repeat(10, 1fr);
        gap: 6px;
        margin-top: 6px;
    }
    /* Spielfelder */
    #board div {
        position: relative;
        display: block;
        text-align: center;
        aspect-ratio: 1/1;
        border: solid #cccccc 1px;
        font-size: 12px;
        color: white;
    }

    /* Feldfarben */
    .normalesfeld {
        background-color: transparent;
    }
    .leiterfeld_runter_start {
        /* background-color: rgb(224, 210, 16);  */
        background-image: url("./images/roehre_down_oben.png");
        background-size: 70%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .leiterfeld_runter_ende {
       /* background-color: rgb(158, 148, 12); */
        background-image: url("./images/roehre_down_unten.png");
        background-size: 70%;
        background-position: top;
        background-repeat: no-repeat;
    }
    .leiterfeld_hoch_start {
        /* background-color: rgb(31, 114, 31); */
        background-image: url("./images/roehre_up_unten.png");
        background-size: 70%;
        background-position: top;
        background-repeat: no-repeat;
    }
    .leiterfeld_hoch_ende {
        /* background-color: rgb(15, 65, 15); */
        background-image: url("./images/roehre_up_oben.png");
        background-size: 70%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    /* Röhrenfelder mit Verbindungsstücken rot */
    #feld17, #feld27, #feld69, #feld70, #feld89, #feld83 {
        background-image: url("./images/roehre_down_verbindung.png");
        background-size: 70%;
        background-position: center;
    }
    /* Röhrenfelder mit Verbindungsstücken grün */
    #feld23, #feld45, #feld67, #feld72, #feld77 {
        background-image: url("./images/roehre_up_verbindung.png");
        background-size: 70%;
        background-position: center;
    }

    /* Startfeld */
    #feld0 {
        background-color: #7c7b7b;
    }
    /* Zielfeld */
    #feld99 {
        background-color: #7c7b7b;
    }
    /* Tauschfeld */
    #feld55 {
        /* background-color: rgb(150, 85, 43); */
        background-image: url("./images/swap.png");
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Spielfiguren */
    .spielfigur {
        border-radius: 50px;
        width: 30%;
        height: 30%;
        overflow: visible;
        border: none;
        margin: auto;
    }
    #board div.spielfigur {
        border: none;
    }

    /* Wuerfelfeld */
    #wuerfelfeld {
        display: flex;
        flex-direction: column;
        margin: 0 6px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border: solid #cccccc 1px;
        position: sticky;
        bottom: 10px;
    }
    /* Spielfiguranzeige */
    #spielfiguranzeige {
        font-size: 1em;
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    /* Wuerfelanzeige */
    #wuerfelanzeige {
        text-align: center;
        color: white;
    }
    #wuerfelbutton {
        padding: 5px;
        border: solid #cccccc 1px;
        border-radius: 5%;
        margin-top: 10%;
    }
    #wuerfelbutton:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
    #spezialwuerfelbutton {
        padding: 5px;
        border: solid #cccccc 1px;
        border-radius: 5%;
        margin-top: 10%;
    }
    #spezialwuerfelbutton:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

    /* Details mit Spielregeln */
    details {
        margin: 10px 0;
        background-color: rgb(41, 41, 41);
    }
    /* Spielregeln */
    #regelfeld {
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
}

/* Unter minimaler Bildschirmbreite */
@media (max-width:780px) {
    #smallscreen{
        display: block;
    }
    p {
        margin: 3%;
    }
    #spiel{
        display: none;
    }
}