@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* Für alle Bildschirmbreiten*/
.header {
    padding: 1em;
    border-bottom: 1px solid var(--yellow-4);
}
html {
    background-color: black;
}
h1,h2 {
    max-width: 650px;
    margin: auto;
    color: #cccccc;
}
p {
    color: white;
}
main {
    width: 80vw;
    max-width: 1200px;
    margin: 1em auto;
}

/* Ab minimaler Bildschirmbreite */
@media (min-width:780px) {
    #smallscreen {
        display: none;
    }
    #spiel {
        display: block;
    }

    /* Anzeige über Spielfeld*/
    #anzeige_oben {
        display: flex;
    }
    #nochmalspielen {
        margin-right: 8px;;
    }

    /* Startseite */
    .addspieler {
        margin-bottom: 5px;
    }
    #addspieler1 {
        margin-top: 5px;
    }
    #spielerauswahl {
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center;
        justify-content: center;
    }

    /* Sektion mit Spielfeld und Würfelfeld */
    #game_area {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    /* Spielbrett */
    #board {
        width: 75%;
        display: grid; 
        grid-template-columns: repeat(10, 1fr);
        gap: 6px;
        margin-top: 6px;
    }
    /* Spielfelder */
    #board div {
        position: relative;
        display: block;
        aspect-ratio: 1/1;
        border: solid #cccccc 1px;
        font-size: 12px;
        color: white;
    }

    /* Feldfarben */
    .normalesfeld {
        background-color: transparent;
    }
    .leiterfeld_runter_start {
        background-color: rgb(224, 210, 16);
        /*
        background-image: url("./images/xyz.png");
        background-size: 40%;
        background-position: bottom;
        */
    }
    .leiterfeld_runter_ende {
        background-color: rgb(158, 148, 12);
    }
    .leiterfeld_hoch_start {
        background-color: rgb(31, 114, 31);
    }
    .leiterfeld_hoch_ende {
        background-color: rgb(15, 65, 15);
    }

    /* Startfeld */
    #feld0 {
        background-color: #7c7b7b;
    }
    /* Zielfeld */
    #feld99 {
        background-color: #7c7b7b;
    }

    /* Spielfiguren */
    .spielfigur {
        border-radius: 50px;
        width: 20px;
        height: 20px;
        overflow: visible;
        border: none;
    }
    #board div.spielfigur {
        border: none;
    }
    #spielfigur1 {
        background-color: blue;
    }
    #spielfigur2 {
        background-color: red;
    }

    /* Wuerfelfeld */
    #wuerfelfeld {
        display: flex;
        flex-direction: column;
        margin: 0 6px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border: solid #cccccc 1px;
        position: sticky;
        bottom: 10px;
    }
    /* Spielfiguranzeige */
    #spielfiguranzeige {
        font-size: 1em;
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    /* Wuerfelanzeige */
    #wuerfelanzeige {
        text-align: center;
        color: white;
    }
    #wuerfelbutton {
        padding: 5px;
        border: solid #cccccc 1px;
        border-radius: 5%;
        margin-top: 10%;
    }
    #wuerfelbutton:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
    #spezialwuerfelbutton {
        padding: 5px;
        border: solid #cccccc 1px;
        border-radius: 5%;
        margin-top: 10%;
    }
    #spezialwuerfelbutton:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

    /* Details mit Spielregeln */
    details {
        margin: 10px 0;
        background-color: rgb(41, 41, 41);
    }
    /* Spielregeln */
    #regelfeld {
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
}

/* Unter minimaler Bildschirmbreite */
@media (max-width:780px) {
    #smallscreen{
        display: block;
    }
    p {
        margin: 3%;
    }
    #spiel{
        display: none;
    }
}